<h1>Koszyk</h1>

<form *ngIf="summary?.items?.length" [formGroup]="formGroup">
<div>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="card-hrow">
        <div class="cart-hcol-1">Image</div>
        <div class="cart-hcol-2">Name</div>
        <div class="cart-hcol-3">Quantity</div>
        <div class="cart-hcol-4">Value</div>
        <div class="cart-hcol-5">Delete</div>
    </div>
    <div formGroupName="items">
        <div *ngFor="let item of items; let i = index">
            <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between start" class="card-row">
                <div class="cart-col-1">
                    <a >
                        <img mat-card-image src={{item.value?.product?.image}} alt="product" width="50">

                    </a>
                </div>
                <div class="cart-col-2">{{item.value?.product?.name}}</div>
                <div class="cart-col-3"><input formControlName="quantity" class="quantityInput"></div>
                <div class="cart-col-4">{{item.value?.lineValue}}</div>
                <div class="cart-col-5">
                    <button mat-icon-button (click)="deleteItem(item.value?.id)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-row" fxLayoutAlign="end start">
        <button mat-flat-button color="primary" (click)="submit()">Update Cart</button>
    </div>
    <div fxLayoutAlign="end start">
        <div class="summary"> Value: </div>
        <div class="summary"> <b>{{summary?.summary?.grossValue}}</b></div>
    </div>
    <div fxLayoutAlign="end start">
        <button type="button" class="orderButton" mat-flat-button color="primary" routerLink="/order">Place an order</button>
    </div>
</div>
</form>
<div *ngIf="!summary?.items?.length">
    Cart is empty
</div>
