<mat-card class="example-card" *ngFor="let product of categoryProducts?.products?.content">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{product.image}} alt="product" width="150">
    <mat-card-content>
      <p>{{product.description}}      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="10">
        <button mat-flat-button color="primary" routerLink="{{'/products/' + product.id}}">View</button>
        <button mat-flat-button color="primary">Add to card</button>
    </mat-card-actions>
  </mat-card>
<div></div>
<mat-paginator *ngIf="categoryProducts?.products && categoryProducts.products.totalElements > 0"
    [length]="categoryProducts.products.totalElements"
     [pageSize]="10"
     [pageSizeOptions]="[10, 25, 50, 100]"
     aria-label="Choose a side"
     (page)="onPageChange($event)">
</mat-paginator>

