<div fxLayout="column">
    <div fxLayout="row" fxFlex fxLayoutGap="20">
        <div>
            <img src={{product?.image}} width="250">
        </div>
        <div fxLayout="column" fxFlex>
            <h1>{{product?.name}}</h1>
            <small>{{product?.category}}</small>
           
            <div fxLayout="row" fxFlexAlign="end">
                <span class="price">{{product?.price}} {{product?.currency}}</span>
            </div>
            <button mat-flat-button color="primary">Add to cart</button>
            
        </div>
    </div>
    <div class="description">
        {{product?.description}}
    </div>
</div>
