<div flexLayout="row" class="footerManu">
    <div fxFlex>
        <div>Category</div>
        <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
        </ul>
    </div>
    <div fxFlex>
        <div>About us</div>
        <ul>
            <li>About us</li>
            <li>About us</li>
            <li>About us</li>
        </ul>
    </div>
    <div fxFlex>
        <div>Help</div>
        <ul>
            <li>Help 1</li>
            <li>Help 2</li>
            <li>Help 3</li>
        </ul>
    </div>
</div>

