<h1>Edit</h1>
<div>
    <h2>Order details</h2>
    Order number: {{order?.id}}
    <br /><br />
    Date of placing the order: {{order?.placeDate | date : 'yyyy-MM-dd HH:mm'}}<br />
    Payment: {{order?.payment?.name}}<br /><br />
    
    <form [formGroup]="formGroup" fxLayaout="row" fxLayoutAlign="space-between start" (submit)="changeStatus()">
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="orderStatus">
                <mat-option *ngFor="let status of statuses | keyvalue" [value]="status.key">{{status.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary">Zapisz</button>
    </form>
</div>
<div>
    <div fxLayaout="row" fxLayoutAlign="space-between start">
        <div class="order-hcol-1">
            Name
        </div>
        <div class="order-hcol-2">Quantity</div>
        <div class="order-hcol-3">Value</div>
    </div>
    <div *ngFor="let row of order?.orderRows" fxLayaout="row" fxLayoutAlign="space-between start">
        <div class="order-col-1">
            <span *ngIf="row.product">{{row?.product?.name}}</span>
            <span *ngIf="row.shipment">{{row?.shipment?.name}}</span>
        </div>
        <div>{{row.quantity}}</div>
        <div>{{row.quantity * row.price}}</div>
    </div>
    <div fxLayoutAlign="end end">
        <b>Value: {{order?.grossValue}}</b>
    </div>
</div>
<div>
    <h2>Customer data</h2>
    <div>First Name: {{order?.firstname}}</div>
    <div>Last Name: {{order?.lastname}}</div>
    <div>Order: {{order?.street}}</div>
    <div>Zip Code: {{order?.zipcode}}</div>
    <div>City: {{order?.city}}</div>
    <div>Email: {{order?.email}}</div>
    <div>Phone: {{order?.phone}}</div>
</div>
<div>
    <h2>Event log</h2>
    <div>
        <div *ngFor="let log of order?.orderLogs" class="orderLog">
            <div>{{log?.created | date : 'yyyy-MM-dd HH:mm'}}</div>
            <div>{{log?.note}}</div>
        </div>
    </div>
</div>
